<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
    <div class="web-posts">
        <h1 class="display-4" style="text-align: center;">Web Development Posts</h1>
    </div>
    {% if web_posts %}
        {% for post in web_posts %}
            <div class="card" style="width: 40rem; padding: 10px; margin: 20px auto auto auto;" >
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-subtitle" style="font-size: 12px;">{{ post.topic_type }}</p>
                    <p class="card-text" style="margin-top: 5px;">{{ post.post_body }}</p>
                    <a href="#" class="card-link">Comment</a>
                    <a href="#" class="card-link">Like</a>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
</html>