#submit-button {
    border: 1px solid Black;
    border-radius: 10%;
    padding: 10px;
}

.form-container {
    margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}